<root>
    <main_ctrl>
        <func_cfg>
            <version>1.0</version>
            <!-- 0: not save anything; 1: save; default: 1-->
            <storage_switch>1</storage_switch>
            <!-- 1:enable image & disparity & imu checker;default: 0-->
            <check_index>0</check_index>
            <usb_transfer>1</usb_transfer>
            <!-- according the other project  -->
            <sdk_protocol>1</sdk_protocol>
            <!-- load dsp firmware 0: not load 1: default load  -->
            <load_dsp>1</load_dsp>
            <!-- print dsp os log to console 0: not print 1: print  -->
            <print_os>0</print_os>
            <!-- print dsp sys log to console 0: not print 1: print  -->
            <print_sys>0</print_sys>
        </func_cfg>
        <file_cfg>
            <large_file file_size="70" file_num="4" />
            <mini_file file_size="28" file_num="4" />
            <sys.log file_size="2" file_num="4" />
            <img_file file_size="0" file_num="1" />
        </file_cfg>
    </main_ctrl>
    <ma2100>
        <func_cfg>
            <save_data>1</save_data>;
        </func_cfg>
        <save_cfg>
            <!-- 0: not save; 1: save SSD only; 2: save EMMC only; 3: save to emmc if no SSD -->
            <raw_image base_name="img_file" save_flg="1" />
            <raw_depth base_name="img_file" save_flg="1" />
            <IMU base_name="large_file" save_flg="1" />
            <h264_image base_name="large_file" save_flg="2" />
            <vo_info base_name="mini_file" save_flg="3" />
            <oa_debug base_name="mini_file" save_flg="2" />
            <vo_debug base_name="mini_file" save_flg="2" />
            <uav_crash base_name="mini_file" save_flg="2" />
            <sys_log base_name="sys.log" save_flg="3" />
            <tap2go base_name="mini_file" save_flg="2" />
            <rt_log base_name="large_file" save_flg="3" />
            <tof_map base_name="large_file" save_flg="1" />
            <tof_obs_map base_name="large_file" save_flg="1" />
        </save_cfg>
    </ma2100>
    <tracking>
        <func_cfg>
            <!-- main switch for tracking -->
            <save_data>1</save_data>;
        </func_cfg>
        <save_cfg>
            <!-- 0: not save; 1: save SSD only; 2: save EMMC only; 3: save to emmc if no SSD -->
            <x_velocity base_name="large_file" save_flg="0" />
            <key_frame base_name="large_file" save_flg="0" />
            <tracking_log base_name="large_file" save_flg="0" />
        </save_cfg>
    </tracking>
    <planning>
        <func_cfg>
            <!-- main switch for planning -->
            <save_data>1</save_data>;
        </func_cfg>
        <save_cfg>
            <!-- 0: not save; 1: save SSD only; 2: save EMMC only; 3: save to emmc if no SSD -->
            <app_info base_name="large_file" save_flg="1" />
            <gimbal_info base_name="large_file" save_flg="0" />
            <planning_log base_name="large_file" save_flg="0" />
            <rc_info base_name="large_file" save_flg="0" />
            <timestamp base_name="large_file" save_flg="0" />
            <trajpoy base_name="large_file" save_flg="0" />
            <vs_imu base_name="large_file" save_flg="0" />
        </save_cfg>
    </planning>
    <navigation>
        <func_cfg>
            <!-- main switch for navigation -->
            <save_data>1</save_data>;
        </func_cfg>
        <save_cfg>
            <!-- 0: not save; 1: save SSD only; 2: save EMMC only; 3: save to emmc if no SSD -->
            <fc_ctrl_mode base_name="large_file" save_flg="0" />
            <monitor_crash base_name="large_file" save_flg="0" />
            <nav_data base_name="large_file" save_flg="0" />
        </save_cfg>
    </navigation>
</root>
